<settings>
  <servers>
    <server>
      <id>nextwork-pipeline-demo</id>
      <username>aws</username>
      <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>nextwork-pipeline-demo</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>nextwork-pipeline-demo</id>
          <url>https://nextwork-804867352391.d.codeartifact.us-east-1.amazonaws.com/maven/pipeline-demo/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <mirrors>
    <mirror>
      <id>nextwork-pipeline-demo</id>
      <name>nextwork-pipeline-demo</name>
      <url>https://nextwork-804867352391.d.codeartifact.us-east-1.amazonaws.com/maven/pipeline-demo/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>
